body {
    background-color: lightgrey;
    display: flex;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    border: dotted darkgreen;
    border-radius: 40px;
    height: 700px;
    width: 2000px;
    background-color: lightgreen;
    display: flex;
    margin: 100px;
}
#inner-container {
    justify-content: center;
    display: flex;
    margin: 100px;
}

#meal-selection {
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid black;
}

h2 {
    margin-top: 0;
}

.orderSummary {
    flex: 1;
    padding-left: 20px;
}

.mealItem {
    margin-bottom: 10px;
}

#restaurant-name {
    font-size: 15pt;
}